<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&family=Smooch&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/contactStyle.css">
</head>


<body>
    <header class="container">
        <nav id="navbar">
            <div id="logo">

            </div>
            <ul>
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href="/gallery">Gallery</a></li>
                <li class="item"><a href="/about">About Us</a></li>
                <li class="item"><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>

        </div>
    </header>
    <main>

        <form action="/contact" method="post">
            <div id="heading">Contact us</div>
            <h1>Fill This Form</h1>
            <input type="text" name="nam" id="nam" placeholder="Enter your Name"><br>
            <input type="text" name="age" id="age" placeholder="Enter your Age"><br>
            <input type="text" name="city" id="city" placeholder="Enter your City"><br>
            <input type="phone" name="mobileNo" id="mobileNo" placeholder="Enter your Mobile no"><br>
            <button class="btn">Submit</button>
        </form>
    </main>
    <section id="footer">
        <div class="container2">
            <div class="footer-list-container">
                <ul class="footer-list">
                    <h3>Main Menu</h3>
                    <li><a href="/"></i> Home</a></li>
                    <li><a href="/gallery"> Gallery</a></li>
                    <li><a href="/about"> About us</a></li>
                    <li><a href="/contact"> Contact us</a></li>
                </ul>
            </div>

            <div class="footer-list-container">
                <ul class="footer-list">
                    <h3>All Services</h3>
                    <li><a href="/contact"> Gym Membership</a></li>
                    <li><a href="/contact"> Fitness Advise</a>
                    </li>
                    <li><a href="/contact"> Diet Chart</a>
                    </li>
                    <li><a href="/bmi"> Bmi Calculator</a></li>
                </ul>
            </div>

            <div class="footer-list-container">
                <ul class="footer-list">
                    <h3>Contact Us</h3>
                    <li> Address Tower C IThum tower Block A</li>
                    <li> Industrial Area Sector 62 Noida</li>
                    <li> Uttar Pradesh 201309</li>
                    <li>Number </li>
                    <li> Email
                    </li>
                    <li>
                        Timing
                    </li>
                </ul>
            </div>

        </div>
    </section>
</body>
</html>