<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&family=Smooch&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/galleryStyle.css">
</head>


<body>
    <header class="container">
        <nav id="navbar">
        <div id="logo">

        </div>
        <ul>
            <li class="item"><a href="/index" target="_blank">Home</a></li>
            <li class="item"><a href="/gallery"  >Gallery</a></li>
            <li class="item"><a href="/about" target="_blank" >About Us</a></li>
            <li class="item"><a href="/contact" target="_blank">Contact Us</a></li>
        </ul>
    </nav>

        </div>
    </header>
    <main>
        <div id="heading">Gallery</div>
        <div class="images">
            <div id="img1" class="img"></div>
            <div id="img2" class="img"></div>
            <div id="img3" class="img"></div>
            <div id="img4" class="img"></div>
            <div id="img5" class="img"></div>
            <div id="img6" class="img"></div>
            <div id="img7" class="img"></div>
            <div id="img8" class="img"></div>
        </div>
    </main>

</body>

</html>