<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&family=Smooch&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/style.css">
</head>


<body>
    <header class="container">
        <nav id="navbar">
        <div id="logo">

        </div>
        <ul>
            <li class="item"><a href="/index">Home</a></li>
            <li class="item"><a href="/gallery" target="_blank" >Gallery</a></li>
            <li class="item"><a href="/about" target="_blank" >About Us</a></li>
            <li class="item"><a href="/contact" target="_blank">Contact Us</a></li>
        </ul>
    </nav>

        </div>
    </header>
    <main>
        <div class="primary"  >BUILD THE PERFECT BODY</div>
        <div class="secondary"  >With</div>
        <div class="mainheading" >FITBIT GYM</div>
        <a id="button" href="/contact" >JOIN NOW</a>
    </main>

</body>

</html>